<div class="container-fluid bg-dark">
  <div class="row top-header wrap-content mx-auto">
    <div class="col-6">
      <ul class="nav text-light">
        <li class="nav-item">
          <a class="nav-link" href="#">Account Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fishing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-6 justify-content-end">
      <div class="row header-contact-group">
        <div class="col text-center phone-area" (click)="staticModal.show()">
          <i class="fas fa-phone-alt fa-2x"></i> <span>067xxxxxxx</span>
        </div>
        <div class="col text-center help-area">
          <i class="fas fa-comment-dots fa-2x"></i>Live Help
        </div>
        <div class="col">
          <div class="btn-group language-btn-group">
            <label id="switch-ukraine-language" class="btn" btnCheckbox tabindex="0" role="button"></label>
            <label id="switch-english-language" class="btn" btnCheckbox tabindex="0" role="button"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" >
        <h4 id="dialog-static-name" class="modal-title pull-left">Our telephones</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="kievstar" style="color: blue">
          067 811 89 38</span><br>
        <span class="life" style="color: yellow">063 768 29 28</span><br>
        <span class="vodafone" style="color: red">063 768 29 28</span><br>
      </div>
    </div>
  </div>
</div>