<div class="container-fluid bg-footer">
  <div class="row top-header wrap-content mx-auto footer-content">
    <div class="col">
			<span class="title">Company</span>
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Blog</li>
				<li>Join Us</li>
			</ul>
    </div>
    <div class="col">
			<span class="title">Categories</span>
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Blog</li>
				<li>Join Us</li>
			</ul>
    </div>
    <div class="col">
			<span class="title">Information</span>
			
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Blog</li>
				<li>Join Us</li>
			</ul>
    </div>
    <div class="col">
			<span class="title">Social Network</span>
			
			<ul>
				<li>Home</li>
				<li>About Us</li>
				<li>Blog</li>
				<li>Join Us</li>
			</ul>
    </div>
    <div class="col">
			<span class="title">Contact Us</span>
			<ul>
				<li>Phone: 12345642</li>
				<li>Fax: 132321313</li>
				<li>Email: <span class="email-section">Sefdff@madfsf.ru</span></li>
			</ul>
    </div>
  </div>
</div>
