<div class="container-fluid bg-header-gradient">
  <div class="row wrap-content mx-auto">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <img
            src="../../assets/shopping-bag.png"
            class="shopping-bag"
            alt="shopping-bag"
          />
        </div>
        <div class="col-8 align-self-center text-center">
          <div>
            <span class="amount-items-title">0 Items in your bag</span>
          </div>
          <div>
            <button type="button" class="btn btn-danger check-out-button">
              Check Out
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-uppercase main-name text-center align-self-center">
      Ecommerce website
    </div>
    <div class="col align-self-center">
      <div class="search-block">
        <form class="input-group">
          <input
            type="text"
            class="form-control search-input"
            placeholder="Search.."
            aria-label="Search"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary search-action"
              type="button"
              id="button-addon2"
            >
              GO
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
