<div class="conteiner">
  <div class="row">
    <div class="col text-center">
      <h2 class="mt-5">Відгуки наших клієнтів</h2>
      <div class="subtitle mb-5">
        Статистика роботи нашої компанії за 2018 й рік - більш ніж 147 350
        успішно евакуйованих транспортних засобів
      </div>
    </div>
  </div>
  <div class="row">
    <carousel [interval]="false">
      <slide>
        <div class="text-center py-5 bg-dark text-white feedback-area">
          <h2>Андрій</h2>
          <div class="lead">
            <h3>Volkswagen Tiguan</h3>
            <p>
              Потрапив у сильний дощ, як наслідок - ДТП. Пошкодження були не
              великі, але настрій зіпсувався як у мене, так і в іншого водія.
              Думав, як бути і кому дзвонити. Знайшов в інтернеті компанію
              Експрес-Евакуатор. Подзвонив, поговорив з диспетчером, дізнався
              всі ціни і т.д. Оформив замовлення. Порадувало, що чекав евакуатор
              всього 20 хв. Всім успіхів і удачі на дорозі!
            </p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="text-center py-5 bg-dark text-white feedback-area">
          <h2>Вадим</h2>
          <div class="lead">
            <h3>Opel Vectra C</h3>
            <p>
              Їхав якось від друзів з Харківського масиву. Машина ніколи у мене
              не ламалася. Того вечора сталося все інакше. Обірвало ремінь ГРМ,
              як наслідок, їхати вже було неможливо. Почав шукати евакуатор в
              інтернеті. Подзвонив в Експрес-Т. Викликав евакуатор з
              маніпулятором. Приїхали через 15 хв. Ціна влаштувала. Для мене
              важливою тоді була швидкість реагування. Експрес-Евакуатор
              впоралися відмінно, рекомендую!
            </p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="text-center py-5 bg-dark text-white feedback-area">
          <h2>Вікторія</h2>
          <div class="lead">
            <h3>Hyundai Getz</h3>
            <p>
              Нещодавно потрапила в ДТП. У розпачі навіть не знала куди
              дзвонити. Добрий водій мені дав візитку Експрес-евакуатора.
              Набрала номер і пояснила диспетчеру, де перебуваю. Через півгодини
              прибув евакуатор. І так, вартість послуги евакуатора стала для
              мене приємним сюрпризом.
            </p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
