<div class="container-fluid bg-under-footer">
  <div class="row top-header wrap-content mx-auto footer-content">
		<div class="col text-center additional-info" style="color: white;">
      Express Tow Truck 24/7</div>
		<div class="col text-center additional-info" style="color: white;">Challenge in Kyiv and region!</div>
		<div class="col align-self-center">
      <div class="search-block">
        <form class="input-group">
          <input
            type="text"
            class="form-control search-input"
            placeholder="Search.."
            aria-label="Search"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary search-action"
              type="button"
              id="button-addon2"
            >
              GO
            </button>
          </div>
        </form>
      </div>
    </div>
	</div>
</div>
